@import "./App.scss";

* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  font-family: Montserrat, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}
