@import "./App.scss";

* {
  box-sizing: border-box;
}

html {
  display: flex;
  flex-direction: column;
  font-family: Chewy, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin: 0;
}

/*section {
  display: flex;
  flex-flow: row wrap;
  background-color: $secondary-color;
  max-width: 91%;
  border-radius: 10px;
  justify-content: space-evenly;
  align-items: space-evenly;
  margin: 4% 5%;
  padding: 30px;
  box-sizing: content-box;
  @media screen and (max-width: 1000px) {
    flex-flow: column nowrap;
    width: 98%;
    margin: auto;
    background-color: transparent;
    padding: 0;
  }
}

.banner > h1 {
  @media screen and (max-width: 1000px) {
    border-radius: 10px;
    justify-content: flex-start;
  }
}*/
